data/Plourde_2015/detections/*
data/Plourde_2015/LFEdistribution/*
data/Plourde_2015/templates_list
data/Plourde_2015/timeseries
data/Plourde_2015/waveforms
data/response/*.xml
src/*.pkl
src/LFEs_known/*
src/templates_2007_2009/*

